<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Developer Interview</title>
    <link rel="stylesheet" href="../dist/main.css">
</head>
<body>

<main class="container">
    <div class="bg-body-tertiary p-5 rounded mb-5">
        <h1>Developer interview questions</h1>
    </div>
</main>

<div class="container">
    {% if message is defined %}
        {% if message.type == 'error' %}
        <div class="alert alert-danger" role="alert">
            {{ message.title }}
        </div>
        {% endif %}

        {% if message.type == 'success' %}
            <div class="alert alert-success" role="alert">
                {{ message.title }}
            </div>
        {% endif %}
    {% endif %}
</div>

<div class="container">
    <h3 class="mb-4">Found {{ questions|length }} records</h3>
    <div class="list-group mb-5">
        {% for item in questions %}
            <a href="#" class="list-group-item list-group-item-action">
                {{ item.title }}
            </a>
        {% endfor %}
        <a class="list-group-item list-group-item-action disabled" aria-disabled="true">Your question</a>
    </div>

    <h3 class="mb-2">Your question</h3>
    {% if form is defined %}
    <form method="post" id="{{ form.vars.id }}">
        {% for input in form.children %}
        <label for="{{ input.vars.id }}" class="form-label mt-2">{{ input.vars.name }}:</label>
        <input type="text" class="form-control mt-2" name="{{ input.vars.full_name }}" id="{{ input.vars.id }}" />
        {% endfor %}

        <input type="submit" class="btn btn-primary mt-4" value="Submit" />
    </form>
    {% endif %}

    </div>
    <script src="../dist/main.js"></script>

</body>
</html>
